@use "../styles/base.scss" as *;

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  // overflow-x: hidden;
  background: $black;
}
