@use "../../../styles/base.scss" as *;

nav {
  * {
    color: $white;
    font-family: "Inter", sans-serif;
  }

  display: flex;
  justify-content: space-between;
  width: calc(100svw - (2svw + 20px));
  position: fixed;
  z-index: 9;
  top: 0;
  margin: calc(1svh + 15px) calc(1svw + 10px);

  &.menuOnly {
    justify-content: flex-end;
  }

  .logo {
    * {
      text-transform: uppercase;
    }

    h1 {
      font-size: $font-size-heading;
      font-weight: 900;
    }

    h2 {
      font-size: $font-size-title-m;
      font-weight: 800;
      opacity: 0.75;
    }
  }

  .menu {
    font-size: $font-size-title;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 8;
  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.35s ease,
    visibility 0.35s;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.borderFrame {
  width: 98svw;
  height: 96svh;
  margin: 2svh 1svw;
  padding: 3rem;
  border: 1px solid $white;
  backdrop-filter: blur(4px);
}

.bgLayer1 {
  position: absolute;
  inset: 0;
  z-index: -2;
  background: #000000;
  opacity: 0.85;
}

.bgLayer2 {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.5;
  background: radial-gradient(
    circle at 20% 50%,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.85) 60%,
    rgba(0, 0, 0, 0.98) 100%
  );
}

.list {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  li {
    display: flex;
    width: 100%;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    text-decoration: none;
    color: $white;
    font-family: "Inter", sans-serif;

    font-size: $font-size-big-m;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.85;

    opacity: 0.35;
    transition: opacity 0.3s ease;

    &::before {
      content: var(--i);
      font-size: $font-size-body-s;
      font-weight: 700;
      letter-spacing: 0.1rem;
      margin-bottom: 0.3rem;
      transform: translateX(-1rem);
    }
  }

  &:hover a {
    opacity: 0.35;
  }

  a:hover,
  a.active {
    opacity: 1 !important;
  }
}
