@use "../../../styles/base.scss" as *;

.loading_screen {
  width: calc(100svw - 2px);
  height: calc(100svh - 2px);
  margin: 1px;
  border: 1px solid $white;
  background: $black;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;
  position: fixed;
  inset: 0;
  z-index: 999;

  @include FlexCenter;

  .loading_screen_content {
    color: $white;
    font-family: "inter", sans-serif;
    letter-spacing: 10px;
    font-weight: 100;
    transition: 0.3s ease-in-out;

    @include FlexCenter;

    p {
      margin-bottom: 35px;
    }

    .dots {
      @include FlexCenter(row);
      gap: 20px;
      width: 100px;

      .dot {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: $white;

        @for $i from 1 through 3 {
          &:nth-of-type(#{$i}) {
            animation-delay: calc(0.35s * $i) !important;
            animation: dotAnimation 1.5s infinite ease-in-out;
          }
        }
      }
    }
  }
}

.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@keyframes dotAnimation {
  50% {
    transform: translateY(-10px);
  }
}
